doctype html
html(lang="fr")
    head
        meta(charset="UTF-8")
        title Eval Node
        link(rel="stylesheet" href="/assets/css/common.css")
        block stylesheet

    body
        header
            include ../nav

        main
            block content

        footer